extends layout

block content

  div.row.auto
    div.col
      input(id="btn_load" type="file")
    div.col
      button(id="btn_save")= "SaveFile"
    div.col
      button(id="btn_parse")= "Parse"

  div
    code#textfield= "this will be file text"


  //fileuploader
  script(src="javascripts/fileuploader/baseFileUpLoader.js")
  script(src="javascripts/fileuploader/baseFileUpLoaderImpl.js")
  script(src="javascripts/fileuploader/FileUpLoader.js")
  script(src="javascripts/fileuploader/impl/jsonFileUpLoader.js")

  //filedownloader
  script(src="javascripts/filedownloader/baseFileDownLoader.js")
  script(src="javascripts/filedownloader/baseFileDownLoaderImpl.js")
  script(src="javascripts/filedownloader/FileDownLoader.js")
  script(src="javascripts/filedownloader/impl/ConverterFileJson.js")

  //converter
  script(src="javascripts/converter/baseConverter.js")
  script(src="javascripts/converter/baseConverterImpl.js")
  script(src="javascripts/converter/Converter.js")
  script(src="javascripts/converter/impl/ConverterFileJson.js")

  //parser
  script(src="javascripts/parser/baseParser.js")
  script(src="javascripts/parser/baseParserImpl.js")
  script(src="javascripts/parser/Parser.js")
  script(src="javascripts/parser/impl/JsonParser.js")

  //Objects
  script(src="javascripts/objects/baseObject.js")
  script(src="javascripts/objects/baseCommand.js")
  script(src="javascripts/Student/Student.js")
  script(src="javascripts/Group/Group.js")
  script(src="javascripts/Department/Department.js")

  script(src="javascripts/main.js")

  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/kube/dist/js/kube.js")