doctype html
html
  head
    title= title

    //my_space
    script.
      window.__space = {};


    script(src="bower_components/file-saver/FileSaver.js")

    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/kube/dist/css/kube.css')
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    //fileuploader
    script(src="javascripts/fileuploader/baseFileUpLoader.js")
    script(src="javascripts/fileuploader/baseFileUpLoaderImpl.js")
    script(src="javascripts/fileuploader/FileUpLoader.js")
    script(src="javascripts/fileuploader/impl/jsonFileUpLoader.js")

    //filedownloader
    script(src="javascripts/filedownloader/baseFileDownLoader.js")
    script(src="javascripts/filedownloader/baseFileDownLoaderImpl.js")
    script(src="javascripts/filedownloader/FileDownLoader.js")
    script(src="javascripts/filedownloader/impl/jsonFileDownLoader.js")

    //converter
    script(src="javascripts/converter/baseConverter.js")
    script(src="javascripts/converter/baseConverterImpl.js")
    script(src="javascripts/converter/Converter.js")
    script(src="javascripts/converter/impl/ConverterFileJson.js")

    //parser
    script(src="javascripts/parser/baseParser.js")
    script(src="javascripts/parser/baseParserImpl.js")
    script(src="javascripts/parser/Parser.js")
    script(src="javascripts/parser/impl/JsonParser.js")



    //Objects
    script(src="javascripts/objects/baseObject.js")
    script(src="javascripts/objects/baseCommand.js")
    script(src="javascripts/CommandStack/CommandStack.js")
    script(src="javascripts/Student/Student.js")
    script(src="javascripts/Group/Group.js")
    script(src="javascripts/Department/Department.js")

    //Views
    script(src="javascripts/objects/baseView.js")
    script(src="javascripts/Student/StudentView.js")
    script(src="javascripts/Group/GroupView.js")
    script(src="javascripts/Department/DepartmentView.js")

    script(src="javascripts/fileloader/fileloader.js")

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/kube/dist/js/kube.js")

  body
    block content
