doctype html
html
  head
    title= title

    //my_space
    script.
      window.__space = {};

    script(src="bower_components/file-saver/FileSaver.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="bower_components/jquery/dist/jquery.min.js")
    link(rel='stylesheet', href='bower_components/kube/dist/css/kube.css')
    script(src="bower_components/kube/dist/js/kube.js")
    script(src="bower_components/kube/dist/js/kube.js")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")

  body
    block content
