body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input:disabled {
  opacity: 1;
  color: black;
  border-color: white;
  font-style: inherit;
}
input {
  border-color: black;
}

select:disabled {
  opacity: 1;
  color: black;
  border-color: white;
  font-style: inherit;
}

select {
  border-color: black
}

input[type="checkbox"][disabled] {
  opacity: 1;
  color: black;
  border-color: white;
}

input[type="checkbox"] {
  border-color: black
}
a {
  color: #00B7FF;
}

table {
  border-color: black;
  border: 2px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  margin: 2px;
}

.Group__body_controls {
  margin: 0px;
}

.immutable__controls {
  margin: 0px;
}

td {
  border-bottom: white;
}